$error-color: red;

.error {
  color: $error-color;
}

.highlight {
  color: #42b983;
}

.layout {
  margin: auto;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    width: 90vw;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 70vw;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 60vw;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 40vw;
  }

  input {
    width: 100%;
  }

  .add-post {
    position: fixed;
    top: 2vh;
    right: 1vh;
  }

  .post {
    margin-bottom: 2vh;
    text-align: left;
  }

  div {
    width: 100%;
  }

}

.search-row {
  margin-bottom: 3vh;

  input {
    width: 80%;
  }
}

.user-form {

  form {
    // width: 30vw;
    margin: auto;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      width: 80vw;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      width: 60vw;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      width: 40vw;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      width: 30vw;
    }


    label {
      text-align: left;
    }
  }

  input {
    margin-bottom: 10px;
    margin-left: 0px;
  }
}
