<template>
  <nav>
    <router-link to="/" class="lead">Home</router-link> |
    <router-link to="/about" class="lead">About</router-link> |
    <span v-if="!isAuthenticated">
        <router-link to="/login" class="lead">Login</router-link>/
        <router-link to="/register" class="lead">Register</router-link>
    </span>
    <span v-if="isAuthenticated">
        <router-link to="/profile" class="lead">My Profile</router-link> |
        <router-link to="/logout" class="lead">Logout</router-link>
    </span>
  </nav>

  <div v-if="successMessage" class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert" @click.stop.prevent="$store.commit('clearSuccessMessage')"></button>
    {{ successMessage }}
  </div>

  <div v-if="errorMessage" class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert" @click.stop.prevent="$store.commit('clearErrorMessage')"></button>
    {{ errorMessage }}
  </div>

  <router-view/>

</template>

<style>
#app {
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<script>
export default {
  async created () {
    console.log('HOME --> ', this.isAuthenticated)
  },
  computed: {
    isAuthenticated () {
      // const demo = 10
      return this.$store.state.isAuthenticated
    },
    errorMessage () {
      return this.$store.state.errorMessage
    },
    successMessage () {
      return this.$store.state.successMessage
    }
  },
  methods: {

  }
}
</script>
