<template>
  <div class="layout">

    <div class="search-row">
        <input class="col-form-label" v-model="searchTerm" @input="searchPosts" placeholder="Search posts" />
    </div>
    <button type="button" class="btn btn-success add-post" @click.stop.prevent="$router.push('/add-post')">Add New Post</button>

    <div class="list-group post" v-for="post in posts" :key="post.id" @click.stop.prevent="$router.push('/show-post/' + post.id)">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">{{ post.title }}</p>
          <small>{{ formatDate(post.created_at) }}</small>
        </div>
        <small class="text-muted">{{ post.author }}</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <p class="mb-1">{{ post.description }}</p>
      </a>
      <ul class="list-group" style="margin-top: 5px; text-align: left;">
        <li v-for="(c, index) in post.comments" :key="index" class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <strong>{{ c.name }}</strong>:
              {{ c.message }}
          </div>
          <span class="badge bg-primary rounded-pill">{{formatDate(c.created_at)}}</span>
        </li>
      </ul>
    </div>
    <div v-if="loading">Loading...</div>
  </div>
</template>

<script>
import apiService from '@/services/apiService'
import moment from 'moment'
export default {
  name: 'HomeView',
  data () {
    return {
      searchTerm: '',
      posts: [],
      page: 1,
      limit: 10,
      loading: false,
      noData: false
    }
  },
  methods: {
    formatDate (d) {
      return moment(d).format('DD/MM/YYYY HH:mm')
    },
    async searchPosts () {
      this.noData = false
      this.page = 1
      await this.loadPosts()
    },
    async loadPosts () {
      try {
        this.loading = true
        const newPosts = await apiService.get('/post/search', {
          page: this.page,
          limit: this.limit,
          search: this.searchTerm
        })
        if (newPosts.length < this.limit) {
          this.noData = true
        }
        if (this.page === 1) {
          this.posts = newPosts
        } else {
          this.posts.push(...newPosts)
        }
        this.loading = false
      } catch (error) {
        console.error('Error loading posts:', error)
        this.loading = false
      }
    }
  },
  mounted () {
    this.loadPosts()
    window.blogScrollListener = (event) => {
      // Calculate the distance from the bottom
      const distanceFromBottom =
        document.documentElement.scrollHeight -
        (window.pageYOffset + window.innerHeight)

      if (distanceFromBottom <= 0) {
        if (!this.noData) {
          this.page += 1
          this.loadPosts()
        }
      }
    }
    window.addEventListener('scroll', window.blogScrollListener)
  },
  beforeUnmount () {
    window.removeEventListener('scroll', window.blogScrollListener)
  }
}
</script>
