<template>
  <div class="forgot-password user-form">
    <h1>Forgot Password</h1>
    <form v-if="showForm" @submit.prevent="submitForgotPassword">
      <div class="form-group row">
        <label for="email">Email:</label>
        <input class="form-control" type="email" id="email" v-model="email" required />
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</template>

<script>
import apiService from '@/services/apiService'
import store from '@/store'
export default {
  name: 'ForgotPassword',
  data () {
    return {
      email: '',
      showForm: true
    }
  },
  methods: {
    async submitForgotPassword () {
      try {
        await apiService.post('/user/forgot-password', { email: this.email })
        store.commit('clearErrorMessage')
        store.commit('setSuccessMessage', 'Successfully sent a restore password link to your email. Please check the email.')
        this.showForm = false
      } catch (error) {
      }
    }
  }
}
</script>
