<style lang="scss">
</style>

<template>
  <div class="user-form">
    <h1>Login</h1>
    <form @submit.prevent="submitForm">
      <div class="form-group row">
        <label for="username" class="form-label">Username:</label>
        <input class="form-control" type="text" id="username" v-model="username" />
        <p v-if="usernameError" class="error">{{ usernameError }}</p>
      </div>
      <div class="form-group row">
        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" v-model="password" />
        <p v-if="passwordError" class="error">{{ passwordError }}</p>
      </div>
      <button :disabled="isLoginDisabled" type="submit">Log In</button>
      <br/> <br/>
      <router-link to="/forgot-password" class="forgot-password">Forgot Password?</router-link>
    </form>
  </div>
</template>

<script>
import apiService from '@/services/apiService'
export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },
  computed: {
    isLoginDisabled () {
      return !this.username || !this.password
    }
  },
  methods: {
    async submitForm () {
      if (this.username && this.password) {
        try {
          await apiService.login(this.username, this.password)
        } catch (error) {
        }
      }
    }
  }
}
</script>
