<template>
  <div>
    <p>Logging out...</p>
  </div>
</template>

<script>
import apiService from '@/services/apiService'

export default {
  data () {
    return {
    }
  },
  async created () {
    try {
      await apiService.logout()
    } catch (error) {
    }
  }
}
</script>
