<template>
  <div class="user-form">
    <h1>Add New Post</h1>
    <form @submit.prevent="addPost">
      <div class="form-group row">
        <label for="title">Title:</label>
        <input type="text" id="title" v-model="post.title" />
      </div>
      <div class="form-group row">
        <label for="description">Description:</label>
        <input type="text" id="description" v-model="post.description" />
      </div>
      <div class="form-group row">
        <label for="body">Body:</label>
        <textarea id="body" v-model="post.body" style="height: 150px;"></textarea>
      </div>
      <div style="margin-top: 10px">
        <button class="btn btn-light" @click.prevent.stop="$router.push('/')" style="margin-right: 5px;">Cancel</button>
        <button class="btn btn-primary" type="submit">Add Post</button>
      </div>

    </form>
  </div>
</template>

<script>
import apiService from '@/services/apiService'
import store from '@/store'

export default {
  data () {
    return {
      post: {
        title: '',
        description: '',
        body: ''
      }
    }
  },
  methods: {
    async addPost () {
      try {
        await apiService.post('/post/add', this.post)
        // Redirect to home page
        store.commit('setSuccessMessage', 'Blog Post posted successfully!')
        this.$router.push('/')
      } catch (e) {

      }
    }
  }
}
</script>
