<template>
  <div class="layout">
    <h1>{{ post.title }}</h1>
    <h6>Author: <span class="highlight">{{post.author}}</span>, Date: <span class="highlight">{{formatDate(post.created_at)}}</span></h6>
    <div style="text-align: justify">
       <p>{{ post.description }}</p>
       <div>{{ post.body }}</div>
    </div>

    <h2>Comments</h2>
    <div style="text-align: left">
      <form @submit.prevent="addComment">
        <div class="form-group row">
          <label for="name">Name:</label>
          <input type="text" id="name" v-model="comment.name" />
        </div>
        <div class="form-group row">
          <label for="message">Message:</label>
          <textarea id="message" v-model="comment.message"></textarea>
        </div>
        <div style="margin-top: 10px; text-align: center;">
          <button class="btn btn-primary" type="submit">Add Comment</button>
        </div>
      </form>
    </div>
    <ul class="list-group" style="margin-top: 30px; text-align: left;">
      <li v-for="(c, index) in comments" :key="index" class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>{{ c.name }}</strong>:
          <div>
              {{ c.message }}
          </div>
        </div>
        <span class="badge bg-primary rounded-pill">{{formatDate(c.created_at)}}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import apiService from '@/services/apiService'
import moment from 'moment'
import store from '@/store'

export default {
  data () {
    return {
      user: {},
      post: {
        title: '',
        description: '',
        body: ''
      },
      comments: [],
      comment: {
        name: '',
        message: ''
      }
    }
  },
  computed: {

  },
  methods: {
    formatDate (d) {
      return moment(d).format('DD/MM/YYYY HH:mm')
    },
    async addComment () {
      try {
        await apiService.post('/post/add/comment', Object.assign({ postId: this.post.id }, this.comment))
        this.comment.message = ''
        store.commit('setSuccessMessage', 'Comment added to the Post successfully!')
        this.comments = await apiService.get('/post/comments/' + this.post.id)
        this.$router.push('/')
      } catch (e) {

      }
    }
  },
  async mounted () {
    // Load post data
    const postId = this.$route.params.id
    this.post = await apiService.get('/post/post/' + postId)
    this.comments = await apiService.get('/post/comments/' + postId)
    this.user = await apiService.get('/user/profile')
    this.comment.name = this.user.first_name + ' ' + this.user.last_name
  }
}
</script>
