<style lang="scss">

</style>

<template>
  <div class="user-form">
    <h1>Your Profile</h1>
    <form @submit.prevent="updateProfile">
      <div class="form-group row">
        <label for="first_name">Username:</label>
        <input class="form-control" id="username" v-model="profile.username" type="text" readonly/>
      </div>
      <div class="form-group row">
        <label for="first_name">Email:</label>
        <input class="form-control" id="email" v-model="profile.email" type="text" readonly/>
      </div>
      <div class="form-group row">
        <label for="first_name">First Name:</label>
        <input class="form-control" id="first_name" v-model="profile.first_name" type="text" />
      </div>
      <div class="form-group row">
        <label for="last_name">Last Name:</label>
        <input class="form-control" id="last_name" v-model="profile.last_name" type="text" />
      </div>
      <div class="form-group row">
        <label for="age">Age:</label>
        <input class="form-control" id="age" v-model="profile.age" type="number" />
      </div>
      <div class="form-group row">
        <label for="gender">Gender:</label>
        <select class="form-select" id="gender" v-model="profile.gender">
          <option value="">Select</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group row">
        <label for="address">Address:</label>
        <input class="form-control" id="address" v-model="profile.address" type="text" />
      </div>
      <div class="form-group row">
        <label for="website">Website:</label>
        <input class="form-control" id="website" v-model="profile.website" type="url" />
      </div>

      <button class="btn btn-light" @click.prevent.stop="$router.push('/')" style="margin-right: 5px;">Cancel</button>
      <button class="btn btn-primary" type="submit" :disabled="!isFormValid">Save</button>
    </form>
  </div>
</template>

<script>
import apiService from '@/services/apiService'
import store from '@/store'

export default {
  data () {
    return {
      profile: {
        username: '',
        email: '',
        first_name: '',
        last_name: '',
        age: null,
        gender: '',
        address: '',
        website: ''
      }
    }
  },
  computed: {
    isFormValid () {
      return (
        this.profile.first_name &&
        this.profile.last_name &&
        this.profile.age &&
        this.profile.gender &&
        this.profile.address &&
        this.profile.website
      )
    }
  },
  async created () {
    try {
      this.profile = await apiService.get('/user/profile')
    } catch (error) {
      console.error('Error fetching profile:', error)
    }
  },
  methods: {
    async updateProfile () {
      try {
        this.profile = await apiService.post('/user/profile', this.profile)
        store.commit('setSuccessMessage', 'Profile updated successfully')
        this.$router.push({ name: 'home' })
      } catch (error) {
      }
    }
  }
}
</script>
