<style lang="scss">

</style>

<template>
  <div class="user-form">
    <h1>Register</h1>
    <form @submit.prevent="register">
      <div class="form-group row">
        <label for="username">Username</label>
        <input class="form-control" id="username" v-model="username" type="text" />
      </div>
      <div class="form-group row">
        <label for="email">Email</label>
        <input class="form-control" id="email" v-model="email" type="email" />
      </div>
      <div class="form-group row">
        <label for="password">Password</label>
        <input class="form-control" id="password" v-model="password" type="password" />
      </div>
      <div class="form-group row">
        <label for="confirm_password">Confirm Password</label>
        <input class="form-control" id="confirm_password" v-model="confirm_password" type="password" />
      </div>
      <button type="submit" :disabled="!isFormValid">Register Now</button>
    </form>
  </div>
</template>

<script>
import apiService from '@/services/apiService'

export default {
  name: 'RegisterUser',
  data () {
    return {
      username: '',
      email: '',
      password: '',
      confirm_password: ''
    }
  },
  computed: {
    isFormValid () {
      return (
        this.username &&
        this.email &&
        this.password &&
        this.confirm_password &&
        this.email.includes('@') &&
        this.password === this.confirm_password
      )
    }
  },
  methods: {
    async register () {
      if (!this.isFormValid) return

      try {
        await apiService.register(
          this.username,
          this.email,
          this.password,
          this.confirm_password
        )
      } catch (error) {

      }
    }
  }
}
</script>
