<template>
  <div class="reset-password user-form">
    <h1>Reset Password</h1>
    <form v-if="showForm" @submit.prevent="submitResetPassword">
      <div class="form-group row">
        <label for="password">New Password:</label>
        <input class="form-control" type="password" id="password" v-model="password" required />
      </div>

      <div class="form-group row">
        <label for="confirmPassword">Confirm New Password:</label>
        <input class="form-control" type="password" id="confirmPassword" v-model="confirmPassword" required />
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</template>

<script>
import apiService from '@/services/apiService'
import store from '@/store'

export default {
  name: 'ResetPassword',
  data () {
    return {
      password: '',
      confirmPassword: '',
      showForm: true
    }
  },
  async created () {
    if (!this.$route.params.token) {
      this.showForm = false
      store.commit('setErrorMessage', 'Not found token')
    }
  },
  methods: {
    async submitResetPassword () {
      if (this.password !== this.confirmPassword) {
        store.commit('setErrorMessage', 'Passwords do not match')
        return
      }

      try {
        await apiService.post('/user/reset-password', {
          token: this.$route.params.token,
          newPassword: this.password
        })
        store.commit('clearErrorMessage')
        store.commit('setSuccessMessage', 'Your password has been reset successfully!')
        this.$router.replace({ name: 'login' })
      } catch (error) {
      }
    }
  }
}
</script>
